
/* GENERAL */
html, body {
    height:100%;
}
h3, h5{
    color: lightseagreen;
}
h5{
    text-align: left;
}
.space{
    padding: 1em;
    margin: 0;
}

/* INFO ICON */
.material-icons{
    color: plum;
    font-size: 60px;
    position: absolute;
    top: 3%;
    right: 2%;
}
.material-icons:hover{
    color: #555;
    cursor: pointer;
}

/* WORLD MAP */
#UI1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mapsize{
    width: 100%;
    margin-top: -25px;
}
.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    width: inherit;
}
path:hover{
    stroke: plum !important;
    stroke-width:2px;
    cursor: pointer;
}

/* LEGENDS */
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.map-legend-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 310px;
    padding: 15px;
}
.map-legend{
    min-width: 40px;
    min-height: 120px;
    margin: 25px;
    flex: auto;
    flex-direction: column;
}
.legend-title{
    text-align: left;
    font-size: 1rem;
}
.legend-label{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.legend-label-color{
    width: 12px;
    height: 12px;
}
.legend-label-text{
    margin-left: 10px;
    color: darkslategray;
    font-size: 0.9rem;
}

/* COLLAPSE HEADER WITH LIST OF ATTRIBUTES */
#UI2, #UI3{
    height:150px;
    overflow-y: scroll;
    text-align: left;
}
.collapsibleHeader {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
}
.active, .collapsibleHeader:hover {
    background-color: #555;
}
.collapsibleHeader:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.collapsibleContent {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}
.collapsibleContent:active{
    transition: max-height 0.3s ease-in-out;
}
.primaryList, .secondaryList{
    width: 50%;
}

#animation-toggle{
    background: pink;
    position: absolute;
    float: right;
    right: 25px;
    top: 30px;
}

/* TIMELINE */
.w3-button{
    margin-left: 40px;
}


/* TOOLTIP */
div.tooltip { 
    display: inline-block; /* size adjusts according to content */
    position: absolute;     
    text-align: center;  
    display: flex; 
    justify-content: center;
    flex-direction: column; /* vertical alignment */
    max-width: 160px;   
    padding: 7px 10px 7px 10px;           
    font-size: 12px; 
    color: white;   
    background:plum; 
    border: 0px;        
    pointer-events: none; 

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;    
}