#UI1{
    margin-top: 50px;
    margin-bottom: 50px;
}
#UI2, #UI3{
    height:180px;
    overflow-y: scroll;
}
.space{
    padding: 1em;
    margin: 0;
}
h2, h5{
    color: lightseagreen;
}
.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.countries:hover{
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}
path:hover{
    stroke: black !important;
    stroke-width:2px;
    cursor: pointer;
}