#UI1{
    margin-top: 50px;
}

#UI2{
    margin-top: 50px;
    height:400px;
    overflow-y: scroll;
}

.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}
path:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}
#info-box {
    /*display: none;*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px;
    font-family: arial;
}
